<div class="container">
  <div class="left">
    <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg" />
    <span>Homepage</span>
    <span>Series</span>
    <span>Movies</span>
    <span>New and Popular</span>
    <span>My List</span>
  </div>
  <div class="right">
    <span class="material-icons icon">search</span>
    <span>KID</span>
    <span class="material-icons icon">notifications</span>
    <img src="https://images.pexels.com/photos/6899260/pexels-photo-6899260.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" />
    <div class="profile">
      <span class="material-icons icon">arrow_drop_down</span>
      <div class="options">
        <span>Settings</span>
        <span>Logout</span>
      </div>
    </div>

  </div>
</div>
