@use 'defs/colors' as *;

:host {
  position: fixed;
  top: 0;
  z-index: 200;
  width: 100%;

  color: $color-white;
  font-size: 14px;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);

  .navbar {
    &.scrolled {
      background-color: $main-color;
    }

    .container {
      margin: 0px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 70px;

      .left {
        display: flex;
        align-items: center;
        img {
          height: 25px;
          margin-right: 40px;
        }

        span {
          &:not(:last-child) {
            margin-right: 20px;
          }
        }
      }

      .right {
        display: flex;
        align-items: center;
        img {
          width: 30px;
          height: 30px;
          border-radius: 5px;
          object-fit: cover;
          cursor: pointer;
        }
        .icon {
          margin: 0 15px;
          cursor: pointer;
        }

        .profile {
          .options {
            display: none;
            background-color: $main-color;
            border-radius: 5px;
          }

          span {
            padding: 10px;
            cursor: pointer;
          }

          &:hover {
            .options {
              display: flex;
              flex-direction: column;
              position: absolute;
            }
          }
        }
      }
    }
  }
}
